<div class="container">
    <mat-card class="example-card">
        <mat-card-content>
            <div>
                <mat-label>Image URl</mat-label>
                <input matInput type="text" placeholder="" class="search-input" [value]="img" [(ngModel)]="img">
            </div>
            <div class="message">
                <mat-label>Message</mat-label>
                <textarea placeholder="" [value]="msg" [(ngModel)]="msg"></textarea>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button (click)="novoPost()">
                <mat-icon>done_outline</mat-icon>
                Post
            </button>
        </mat-card-actions>
    </mat-card>

</div>