.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
.example-card {
    height: 520px;
    width: 400px;
    margin-top: 30px;
  }
  
  .mat-card-image{
    height: 250px;
  }
  
  .mat-card-actions{
    margin-left: 300px;
    margin-top: -10px;
    display: flex;
  }

  .fav2{
    margin-top: 8px;
  }

  
@media (max-width: 499px)
{
    .example-card {
        height: 550px;
        width:fit-content;
      }
}
