<h2>Share this post</h2>
<div mat-dialog-actions align="end">
    <button mat-icon-button color="primary" mat-raised-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content class="mat-typography">
    <div class="social-icons">
        <a href="" class="facebook">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
            <span>Facebook</span>
        </a>
        <a href="" class="twitter">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            <span>Twitter</span>
        </a>
        <a href="" class="reddit">
            <i class="fa fa-reddit-alien fa-2x" aria-hidden="true"></i>
            <span>Reddit</span>
        </a>
    </div>
</div>