    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    justify-content: center;
    color: #333;
    display: flex;
  }

  .social-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-content: center;
  }
  
  .social-icons a {
    color: white;
    width: 200px;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
  }
  .facebook {
    background: #405896;
  }
  
  .twitter {
    background: #1da1f2;
  }
  
  .reddit {
    background: #000;
  }
  
  
h2{
  margin-left: 22px;
}
span{
    margin-left: 10px;
    align-self: center;
}
.mat-typography{
    height: 120px;
    overflow: hidden;
}

button{
  font-size:small;
}

.mat-dialog-actions {
  margin-top: -60px;
  margin-right: 25px;
}

@media (max-width: 600px)
{
    span {
        display: none;
      }

      .social-icons{
        display: block;
      }

      .mat-typography{
        overflow:scroll
      }
}