.background{
  background: url('../../assets/images/FreeVector-Vector-Sky-Background.jpg')  no-repeat scroll;
  background-size: cover;
  background-attachment:fixed;
  width: 100%;
}

.spa{
  justify-content: center;
  display: flex;
  width: 100%;
}

